<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<bean id="knight" class="basic.DI.service.imp.BraveKnight" >
    <constructor-arg ref="quest"></constructor-arg>
</bean>
    <bean id="quest" class="basic.DI.service.imp.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
    <bean id="minstrel" class="basic.AOP.Minstrel">
        <constructor-arg value="#{T(System).out}"></constructor-arg>
    </bean>

    <aop:config>
        <aop:aspect ref="minstrel">
        <aop:pointcut id="embark" expression="execution(* *.embarkOnQuest(..))"></aop:pointcut>

            <aop:before pointcut-ref="embark" method="singBeforeQuest"></aop:before>
            <aop:after pointcut-ref="embark" method="singAfterQuest"></aop:after>

        </aop:aspect>
    </aop:config>
</beans>